// Place all the styles related to the staffs/genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.genre-edit-btn1{
	margin-top: 20px;
}


.genre-edit-btn {
	padding-left: 80px;
}

.genre th {
  height: 50px;
}
.genre td {
  height: 50px;
}