// Place all the styles related to the staffs/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item_detail_table {
  font-size: 16px;
}

.item_detail_table th {
  height: 50px;
}

.item_detail_table td {
  color: #444;
}

.btn {
  margin: 20px 10px 0 0 ;
}