<div class="genre-edit container">
	<div class="row">
		<div class="col-xs-4">
			<div class="">
				<h1>ジャンル編集画面</h1>
				<%= form_for @genre, url: admins_genres_path do |f| %>
				<div class="genre-create">ジャンル
					<%= f.text_field :name %>
					<label><input type="radio" name="radio" id="radio1" value="radio1">有効</label>
					<label><input type="radio" name="radio" id="radio1" value="radio1">無効</label>
					<%= f.submit "追加", class: "btn btn-primary" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>