
<div class="genre-edit container">
	<div class="row">
		<div class="col-xs-6">
			<div class="">
				<%#<%= flash[:notice] %>

				<h1 class="staff-top">管理者画面</h1>
				<h2>本日の注文件数 <span class="order_count"><%= link_to @orders_count, staffs_orders_path(:place => "top") %> 件</span></h2>

 			</div>
 		</div>
 	</div>
</div>

