<div class="genre-edit container">
	<div class="row">
		<div class="col-xs-7">
			<div class="">
				<h1>ながのCAKE</h1>
				<p>◆概要</p>
				<p>⻑野県にある⼩さな洋菓⼦店「ながのCAKE」の商品を通販するためのECサイト開発。</p>
				<p> <br> </p>
				<p>◆案件の背景</p>
				<p>元々近隣住⺠が顧客だったが、昨年始めたInstagramから⼈気となり、全国から注⽂が来る<br>
				ようになった。 <br>
				InstagramのDMやメールで通販の注⽂を受けていたが、情報管理が煩雑になってきたた<br>
				め、管理機能を含んだ通販サイトを開設しようと思い⾄った。</p>
				<p><br></p>

				<p>◆通販について</p>
				<p>●通販では注文に応じて製作する受注生産型としている。</p>
				<p>● 現在通販での注⽂量は⼗分に対応可能な量のため、1⽇の受注量に制限は設けない。</p>
				<p>● 送料は1配送につき全国⼀律800円。</p>
				<p>● 友⼈や家族へのプレゼントなど、注⽂者の住所以外にも商品を発送できる。</p>
				<p>● ⽀払⽅法はクレジットカード、銀⾏振込から選択できる。</p>
			</div>
		</div>
	</div>
</div>

