<h1>Home#top</h1>
<p>Find me in app/views/home/top.html.erb</p>


		<!-- 後ほど削除 -->
		<div class="temporary">
            <h3 class="log-in-text">登録済みの方</h3>
            <span><%= link_to "こちら", new_customer_session_path %>からログイン（仮設）</span>
        </div>

        <!-- 後ほど削除 -->
        <div class="temporary">
            <h3 class="log-in-text">登録がお済みでない方</h3>
            <span><%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。（仮設）</span>
        </div>