// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button {
    text-align: center;
}

.menu li {
  display: list-item;
  list-style-type: none;
  text-transform: uppercase;
  padding: 0.5em;
  background: #ccc;
}
